# Ignore everything
*

# Allow these directories/files
!skills
!skills/**
!skills_deprecated
!skills_deprecated/**
!.gitignore
!AGENTS.md
!config.toml.bak

# Ignore others
*.DS_Store
*.DS_STORE
*.vscode
skills/.system/
