# Ignore everything
*

# Allow these directories/files
!prompts
!prompts/**
!commands
!commands/**
!agents
!agents/**
!skills
!skills/**
!hooks
!hooks/**
!hooks.json
!.gitignore
!AGENTS.md
!AGENTS.md.bak
!config.toml.bak
!opencode.json.bak
!tui.json
!Makefile

!gemma.config.toml
!opus.config.toml

# Ignore others
*.DS_Store
*.DS_STORE
*.vscode
__pycache__
skills/.system/
.gitignore
