# Ignore everything
*

# Allow these directories/files
!prompts
!prompts/**
!agents
!agents/**
!skills
!skills/**
!skills_deprecated
!skills_deprecated/**
!.gitignore
!AGENTS.md
!AGENTS.md.bak
!config.toml.bak
!Makefile
# Ignore others
*.DS_Store
*.DS_STORE
*.vscode
skills/.system/
__pycache__
